html,
body { height: 100%;
    margin: 0%;
    padding: 0%;
}
.parent {
height: 100%;
background: #CCCCCC;
display: flex;
align-items: center;
justify-content: center;
}
.child {
background-color: #FFFF00;
width: 100px;
height: 100px;
display: flex;
align-items: center;
justify-content: center;

}